<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Vida Pet{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/logo (1).png') }}" alt="Logo Vida Pet" height="50">
    <nav>
      <a href="{{ url_for('index') }}#inicio">Início</a>
      <a href="{{ url_for('agendamento') }}">Agendamento</a>
      <a href="{{ url_for('index') }}#sobre">Sobre</a>
      <a href="{{ url_for('cadastrartutor') }}">
        <button class="btn">Cadastrar</button>
      </a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>Copyright 2025 © Hospital Vet Popular</p>
  </footer>
</body>
</html>