<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro do Pet e do Tutor:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo (1).png') }}" alt="Logo Vida Pet" />
        </div>

        <nav>
            <a href="index.html">Inicio</a>
            <a href="cadastro.html">Cadastro</a>
            <a href="agendamento.html">Agendamento</a>
            <img src="{{ url_for('static', filename='img/icon instagrem (1).png') }}" alt="icone Instagram" />
        </nav>
    </header>


    <main>
        <h2>Cadastro do Pet </h2>

        <form class="cadastro-form">
            <div class="linha">
                <label>Nome do Pet:<input type="text" value="Totó" /></label>
                <label>Raça do Pet:<input type="text" value="Poodle" /></label>
            </div>

            <div class="linha">
                <label>Peso do Pet:<input type="text" value="5kg" /></label>

                <div class="radios"> <br>
                    <label><input value="femea" name="sexo" type="radio" /> Fêmea</label>
                    <label><input value="macho" name="sexo" type="radio" />Macho</label>
                </div>
            </div>

            <br />

            <div class="linha">
                <label>Nome do Tutor:<input type="text" value="Maria Oliveira" /></label>
                <label class="telefoneescrita">Telefone do Tutor:
                    <div class="telefone">
                        <img src="{{ url_for('static', filename='img/bandeira.png') }}"" alt="BR" />
                        <input type="text" value="(11)9999-98888" />
                    </div>
                </label>
            </div>

            <button type="submit" class="botao">Cadastrar</button>
        </form>
    </main>

   <footer>
    <div class="cap">
      <img src="{{ url_for('static', filename='img/cap (1).png') }}" alt="CAP">

    </div>
    <div class="redes">
      <img src="{{ url_for('static', filename='img/whatsasp (1).png') }}" alt="WhatsApp">
      <img src="{{ url_for('static', filename='img/Instagram (1).png') }}" alt="Facebook">
      <img src="{{ url_for('static', filename='img/facebook-rodapé (1).png') }}" alt="Instagram">
    </div>
    <p>Copyright 2025 © Hospital Vet Popular - Todos os direitos reservados</p>
    <img src="{{ url_for('static', filename='img/Cachorro-Home-Rodapé (2).png') }}" alt="Cachorro" class="cachorro">
  </footer>
</body>
</html>